# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# [main.cpp] of Spresense & Nucleo64
Spresense/src/MainCore/
Spresense/src/SubCore_1/
Spresense/src/SubCore_2/
Spresense/src/SubCore_3/
Spresense/src/SubCore_4/
Spresense/src/SubCore_5/
Nucleo64/main.cpp
Nucleo64/main.h